@layer theme, base, mantine, components, utilities;

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-nef-50: #fff1f1;
    --color-nef-100: #fee5e5;
    --color-nef-200: #fccfd1;
    --color-nef-300: #faa7aa;
    --color-nef-400: #f7757d;
    --color-nef-500: #ee4554;
    --color-nef-600: #db233c;
    --color-nef-700: #b81832;
    --color-nef-800: #9a1730;
    --color-nef-900: #84172f;
    --color-nef-950: #650a1c;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-fustat);
    --font-mono: var(--font-geist-mono);
    --font-title: var(--font-nata-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    
}
