@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-nef: #ae1010;
    --color-nef-50: #fff1f1;
    --color-nef-100: #ffdfdf;
    --color-nef-200: #ffc5c5;
    --color-nef-300: #ff9d9d;
    --color-nef-400: #ff6464;
    --color-nef-500: #ff3434;
    --color-nef-600: #ed1515;
    --color-nef-700: #c80d0d;
    --color-nef-800: #ae1010;
    --color-nef-900: #881414;
    --color-nef-950: #4b0404;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-fustat);
    --font-mono: var(--font-geist-mono);
    --font-title: var(--font-nata-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}
